
<div class="row">
    <div class="col-md-2">
        @{ Html.RenderPartial("_Partials/_Sidebar"); }
    </div>
    <div class="col-md-10">
        @{ Html.RenderPartial("_Partials/_GridProducts"); }

    </div>

</div>

@{ Html.RenderPartial("_Partials/_Footer"); }

@section Styles {


}

@section Scripts{


}