<link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
<div class="row border-bottom" style="position:sticky;top:0px;z-index:2000">
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="@Url.Action("Index","Home")"><p style="font-size:xx-large;margin:4px 0px 0px 40px;color:#1AB394;font-family: 'Calistoga', cursive;">TechWall</p></a>
        
        <ul class="nav navbar-top-links navbar-right">
            <li style="padding: 20px">
                <span class="m-r-sm text-muted welcome-message">Welcome to TechWall</span>
            </li>
            <li>
                <a href="@Url.Action("Login","Account")" style="margin-right:20px;">
                    <i class="fa fa-sign-out"></i> Log in / Register
                </a>
            </li>

        </ul>

    </nav>
</div>




























